#maintopic{
    color: blue;
}
*{
    font-family: Georgia;
    text-align: center;
}
.para{
    color: white;
    background-color: cornflowerblue;
}
div > button{
    color: azure;
    background-color: purple;
}
button:hover{
    color: blue;
    background-color: yellow;
}
 p:nth-of-type(2n){
    color: yellow;

} 
h1::first-letter{
    color: red;
}
input:checked+label{
    color: darkgreen;
}

