div{
    /* height: 150px;
    width: 300;
    background-color: grey;
    border: 5px dotted black;
    margin: 20px 1em 40px 2em;
    padding: 1em; */
    /* height: 100px;
    width: 100px;
    background-color: pink;
    border: 2px solid black;
    display: inlinock;
    border-radius: 50%;  */
    display: inline-block;
}
ul{
    display: inline;
}