#box1{
    width: 100px;
    height: 100px;
    background-color: green;
    transition: hover 2s ease-in 0.5s;
}
#box1:hover{
    width: 600px;
}
#box2{
    width: 100px;
    height: 100px;
    background-color: red;
    transform: rotate(90deg) translate(200px, 200px);
}
#box3{
    width: 100px;
    height: 100px;
    background-color: lightblue;
    transform: skewX(20deg);
}
#box4{
    width: 100px;
    height: 100px;
    background-color: lightgreen;
    box-shadow: 2px 2px 5px green;
}
#pic{
    width: 200px;
    height: 200px;
    background-color: pink;
    background-image: url(vishal.jpg);
    background-size: cover;
    opacity: 50%;
}